[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
coverage = "*"
pytest = "*"
mongoengine = "*"
gunicorn = "*"
pymongo = {extras = ["srv"], version = "*"}
boto = "*"
config = "*"

[dev-packages]

[requires]
python_version = "3.9"
